* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8fafc;
    color: #172033;
}

.navbar {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    font-size: 27px;
    font-weight: 800;
    color: #111827;
}

.logo span {
    color: #16a34a;
}

nav {
    display: flex;
    align-items: center;
    gap: 28px;
}

nav a {
    text-decoration: none;
    color: #374151;
    font-weight: 600;
}

.signup-btn {
    background: #16a34a;
    color: white !important;
    padding: 11px 20px;
    border-radius: 8px;
}

.hero {
    min-height: 600px;
    display: flex;
    align-items: center;
    padding: 70px 8%;
    background: linear-gradient(135deg, #ecfdf5, #ffffff);
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.08;
    margin-bottom: 25px;
}

.hero h1 span {
    color: #16a34a;
}

.hero p {
    font-size: 19px;
    line-height: 1.7;
    color: #64748b;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

.primary-btn,
.secondary-btn {
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 9px;
    font-weight: 700;
}

.primary-btn {
    background: #16a34a;
    color: white;
}

.secondary-btn {
    border: 2px solid #16a34a;
    color: #16a34a;
    background: white;
}

.features,
.jobs-section {
    padding: 80px 8%;
    text-align: center;
}

.features h2,
.jobs-section h2 {
    font-size: 36px;
    margin-bottom: 45px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.feature-card {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.06);
}

.icon {
    font-size: 45px;
    margin-bottom: 15px;
}

.feature-card h3 {
    font-size: 22px;
    margin-bottom: 12px;
}

.feature-card p {
    color: #64748b;
    line-height: 1.6;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category {
    background: white;
    padding: 25px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

footer {
    background: #111827;
    color: white;
    padding: 45px 8%;
    text-align: center;
}

footer .logo {
    color: white;
    margin-bottom: 15px;
}

@media (max-width: 768px) {

    .navbar {
        padding: 0 5%;
    }

    nav {
        gap: 10px;
    }

    nav a:not(.signup-btn) {
        display: none;
    }

    .hero {
        padding: 60px 5%;
    }

    .hero h1 {
        font-size: 43px;
    }

    .feature-container,
    .categories {
        grid-template-columns: 1fr;
    }
}
